body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
.orange-color{
    color: orange;
}
.flexible-container{
    display: flex;
    margin-bottom: 150px;
}
.half-width{
    /* img takes larger space as per  img size*/
    width: 50%; 
    padding-left: 3%;
}
.half-width img{
    /* img used only 80% area of  50% defined area for half-width*/
    width: 80%;
}
.link-button{
    text-decoration: none;
    background-image:linear-gradient(#FF9D78, #FF664A) ;
    color: white;
    font-weight: 700;
    padding: 10px 40px;
    border-radius: 5px;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.experience{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
.experience-item{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 10px 10px 20px gray;
}
#full-stack-experience{
    border-left: 7px solid;
    border-image: linear-gradient(#F9715C,#FFAB00);
    border-image-slice: 1;
}
#web-dev-experience{

    border-left: 7px solid;
    border-image: linear-gradient(#0104F2,#11ECFE);
    border-image-slice: 1; /* it has 9 parts indentify which part you used */
}

footer p{
    text-align: center;
}
